snippet [[ "new link" i
[[ $1 ]] $0
endsnippet

snippet .ci "description" Ai
∘
endsnippet

snippet .bx "black box" Ai
▪
endsnippet

snippet .bp "bullet point" Ai
∙
endsnippet

snippet ;a "umlaut a" Ai
ä
endsnippet

snippet ;o "umlaut o" Ai
ö
endsnippet
